###############################################################################
# defineBAQ.yml
#
# Description
#   This playbook demonstrates deprovisioning a z/OS Connect server, stopping
#   the server if it running and removing the server directoy that holds the 
#   configuration for the server.
# 
# Required files
#   - vars/common.yml
#   Contains common variables related to your installation of z/OS Connect.
#     
# Author
#   Caleb Adra
#   cadra@ibm.com
#   September 2025
#
# No warranty implied
###############################################################################
---

- hosts: zos_host

  collections:
    - ibm.ibm_zos_core
    - ibm.ibm_zos_cics
    - ansible.builtin

  environment: "{{ environment_vars }}"

  gather_facts: no

  vars_files:
  - ../vars/common.yml
  - ../vars/updateProgram.yml
  
  ############################################################################
  # Generate a passticket for authentication with CICS in subsequent tasks
  ############################################################################
  tasks:
    - name: Compile and link program
      zos_job_submit:
        src: "../files/cicsComplieLinkProc.j2"
        location: local
        wait_time_s: 30
        use_template: true
        max_rc: 4
      register: compile_program

    - name: Copy load module into CICS Library
      zos_copy:
        src: "{{ loadLibrary }}({{ program }})"
        dest: "{{ cicsLoadLibrary }}({{ program }})"
        force: true
        force_lock: true
        executable: true
        remote_src: true
        
    - name: Generate Passticket
      zos_script:
        cmd: ./scripts/ptktgen.sh $USER
        executable: /bin/sh
        remote_src: true
      register: creds
    
    - name: Set program newcopy
      delegate_to: localhost
      cmci_action:
        context: "{{ region }}"
        cmci_host: "{{ ansible_host }}"
        cmci_port: "{{ cmci_port }}"
        cmci_user: "{{ creds.stdout_lines[0] }}"
        cmci_password: "{{ creds.stdout_lines[1] }}"
        scheme: "{{ scheme }}"
        type: "CICSProgram"
        action_name: NEWCOPY
        resources:
          filter:
            PROGRAM: "{{ program }}"
      register: set_newcopy

    - name: Print newcopy results
      debug:
        msg: "{{ set_newcopy.http_status_code }}: {{ set_newcopy.http_status }} | NEWCOPY of {{ item.program }} from {{ item.library }}({{ item.librarydsn }}) completed."
      with_items: "{{ set_newcopy.records }}"
      loop_control:
        label: "{{ item.program }}"