# ******************************************************************
# Rule Definitions for {{ rule_description }}
# ******************************************************************

TLSRule                           {{ rule_name }}
{
  LocalAddrRef                    {{ local_addr }}
{% if allRemote %}
  RemoteAddr                      ALL
{% else %}
  RemoteAddrRef                   {{ remote_addr }}
{% endif %}
  LocalPortRangeRef               {{ local_portRange }}
  RemotePortRangeRef              {{ remote_portRange }}
  Userid                          {{ userid }}
  Direction                       {{ direction }}
  Priority                        {{ priority }}
  TTLSGroupActionRef              gAct~{{ rule_name }}
  TTLSEnvironmentActionRef        eAct~{{ rule_name }}
  TTLSConnectionActionRef         cAct~{{ rule_name }}
} 
{% if useGlobalLIP is defined and not useGlobalLIP %}

IpAddr                            {{ local_addr }}
{ 
  Addr                            {{ local_IP }}
} 
{% endif %}
{% if useGlobalRIP is defined and not useGlobalRIP %}

IpAddr                            {{ remote_addr }}
{ 
  Addr                            {{ remote_IP }}
} 
{% endif %}
{% if useGlobalLPort is defined and not useGlobalLPort %}

PortRange                         {{ local_portRange }}
{ 
  Port                            {{ local_port }}
} 
{% endif %}
{% if useGlobalRPort is defined and not useGlobalRPort %}

PortRange                         {{ remote_portRange }}
{ 
  Port                            {{ remote_port }}
} 
{% endif %}

TTLSGroupAction                   gAct~{{ rule_name }}
{ 
  TTLSEnabled                     On
  Trace                           2
} 

TTLSEnvironmentAction             eAct~{{ rule_name }}
{ 
  HandshakeRole                   {{ handshake_role }}
  EnvironmentUserInstance         0
  TTLSKeyringParmsRef             {{ keyring }}
} 

TTLSConnectionAction              cAct~{{ rule_name }}
{ 
  HandshakeRole                   {{ handshake_role }}
  TTLSCipherParmsRef              {{ cipher_parms }}
  TTLSConnectionAdvancedParmsRef  cAdv~{{ rule_name }}
  CtraceClearText                 Off
  Trace                           2
} 

TTLSConnectionAdvancedParms       cAdv~{{ rule_name }}
{
  SSLv3                           Off
  TLSv1                           Off
  TLSv1.1                         Off
  TLSv1.2                         On
  TLSv1.3                         Off
} 
