# ******************************************************************
# Rule Definitions for {{ rule_description }}
# ******************************************************************

TTLSRule                          {{ rule_name }}
{
  LocalAddrRef                    {{ local_addr }}
{% if allRemote %}
  RemoteAddr                      ALL
{% else %}
  RemoteAddrRef                   {{ remote_addr }}
{% endif %}
  LocalPortRangeRef               {{ local_portRange }}
  RemotePortRangeRef              {{ remote_portRange }}
  Userid                          {{ userid }}
  Direction                       {{ direction }}
  Priority                        {{ priority }}
  TTLSGroupActionRef              TLS_ON
  TTLSEnvironmentActionRef        ENV_{{ handshake_role | upper }}
  TTLSConnectionActionRef         CONN_{{ handshake_role | upper }}
} 
{% if useGlobalLIP is defined and not useGlobalLIP %}

IpAddr                            {{ local_addr }}
{ 
  Addr                            {{ local_IP }}
} 
{% endif %}
{% if useGlobalRIP is defined and not useGlobalRIP %}

IpAddr                            {{ remote_addr }}
{ 
  Addr                            {{ remote_IP }}
} 
{% endif %}
{% if useGlobalLPort is defined and not useGlobalLPort %}

PortRange                         {{ local_portRange }}
{ 
  Port                            {{ local_port }}
} 
{% endif %}
{% if useGlobalRPort is defined and not useGlobalRPort %}

PortRange                         {{ remote_portRange }}
{ 
  Port                            {{ remote_port }}
} 
{% endif %}
